/* Tachyons CSS */
@import './tachyons/_links.css';
@import './tachyons/_lists.css';
@import './tachyons/_spacing.css';
@import './tachyons/_skins.css';
@import './tachyons/_colors.css';

/* TYPOGRAPHY */
.f1 { font-size: 3rem; }
.f2 { font-size: 2.25rem; }
.f3 { font-size: 1.5rem; }
.f4 { font-size: 1.25rem; }
.f5 { font-size: 1rem; }
.f6 { font-size: .875rem; }

/* Component Specific Styles */
.finder select { border: none; border-bottom: 1px dashed; background: transparent; -moz-appearance: window; -webkit-appearance: none; }
.finder button { border: 1px solid #fff; background: transparent; }
.finder button:hover { border: 1px solid #000; background: #fff; }
.tagline .jumbotron { background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url('../img/sjwpkmb9u-k-maico-amorim.jpg'); background-size: cover; }
.competition, .category { background: rgba(237,237,237,1); background: linear-gradient(to bottom, rgba(237,237,237,1) 0%, rgba(246,246,246,1) 10%, rgba(255,255,255,1) 20%);
 }
.categorygrid-item-wrapper a { text-decoration: none; }
.categorygrid-item { border: 1px solid silver; border-radius: 0.3em; transition: 0.3s}
.categorygrid-item:hover { box-shadow: 0px 0.3em 1em 0px rgba(0,0,0,0.25); }
.categorygrid-item:hover h2 { color: #357edd; }

/* Animation */
.typewriter { overflow: hidden; margin: 0 auto; animation: typing 1.7s, blink-caret 3s; white-space: nowrap; letter-spacing: 0; border-right: .15em solid transparent; }
@keyframes typing {
  from { width: 0; }
  to { width: 36em; }
}
@keyframes blink-caret {
  from { border-right-color: rgba(255, 255, 255, .75); }
  to { border-right-color: transparent; }
}
